body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(250, 223, 191);
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header img {
    width: 300px;
    height: auto;
    margin: 30px auto;
}

.header p {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    font-weight: 100;
    font-size: 20px;
}

.inside p span {
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.row td:nth-child(2) {
    font-weight: bold;
}

.basic-stat .table {
    width: 500px;
}